$color-black: #000;
$color-white: #fff;

$color-primary-light: #ec0b77;
$color-primary: #9e078d;
$color-primary-dark: #68005c;

$deafult-font-size: 1.6rem;

$color-gray: #ccc;
$color-gray-dark-2: #999;
$color-gray-dark-3: #444;